<!DOCTYPE html>
<html lang="en">


<!-- add-department24:07-->

<head>
    <title>Add Department</title>
    {{>headcss}}
</head>

<body>

    <div class="main-wrapper">
        {{>header}}

        <div class="page-wrapper">
            <div class="content">
                {{#if message}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> 
                    {{message}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <div class="row">

                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title"> Department</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form class="needs-validation" action="/api/v1/departments" method="post">

                            {{>department_crud}}
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Create Department</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/internallcss/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/internallcss/assets/js/popper.min.js"></script>
    <script src="/internallcss/assets/js/bootstrap.min.js"></script>
    <script src="/internallcss/assets/js/jquery.slimscroll.js"></script>
    <script src="/internallcss/assets/js/select2.min.js"></script>
    <script src="/internallcss/assets/js/app.js"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</body>


<!-- add-department24:07-->

</html>