<!DOCTYPE html>
<html lang="en">



<head>
	<title>Admin DashBoard</title>
	{{>headcss}}
</head>

<body>
	<div class="main-wrapper">
		{{>header}}
		<div class="page-wrapper">
			<div class="content">

				{{>stats_admin}}

				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">Upcoming Appointments</h4> <a
									href="appointments.html" class="btn btn-primary float-right">View all</a>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">
									<table class="table mb-0">
										<thead class="d-none">
											<tr>
												<th>Patient Name</th>
												<th>Doctor Name</th>
												<th>Timing</th>
												<th class="text-right">Status</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>New York,
																USA</span></a></h2>
												</td>
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html"
														class="btn btn-outline-primary take-btn">Take up</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>New York,
																USA</span></a></h2>
												</td>
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html"
														class="btn btn-outline-primary take-btn">Take up</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>New York,
																USA</span></a></h2>
												</td>
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html"
														class="btn btn-outline-primary take-btn">Take up</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>New York,
																USA</span></a></h2>
												</td>
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html"
														class="btn btn-outline-primary take-btn">Take up</a>
												</td>
											</tr>
											<tr>
												<td style="min-width: 200px;">
													<a class="avatar" href="profile.html">B</a>
													<h2><a href="profile.html">Bernardo Galaviz <span>New York,
																USA</span></a></h2>
												</td>
												<td>
													<h5 class="time-title p-0">Appointment With</h5>
													<p>Dr. Cristina Groves</p>
												</td>
												<td>
													<h5 class="time-title p-0">Timing</h5>
													<p>7.00 PM</p>
												</td>
												<td class="text-right">
													<a href="appointments.html"
														class="btn btn-outline-primary take-btn">Take up</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4 col-xl-4">
						<div class="card member-panel">
							<div class="card-header bg-white">
								<h4 class="card-title mb-0">Doctors</h4>
							</div>
							<div class="card-body">
								<ul class="contact-list">
									<li>
										<div class="contact-cont">
											<div class="float-left user-img m-r-10">
												<a href="profile.html" title="John Doe"><img
														src="/internallcss/assets/img/user.jpg" alt=""
														class="w-40 rounded-circle"><span
														class="status online"></span></a>
											</div>
											<div class="contact-info">
												<span class="contact-name text-ellipsis">John Doe</span>
												<span class="contact-date">MBBS, MD</span>
											</div>
										</div>
									</li>
									<li>
										<div class="contact-cont">
											<div class="float-left user-img m-r-10">
												<a href="profile.html" title="Richard Miles"><img
														src="/internallcss/assets/img/user.jpg" alt=""
														class="w-40 rounded-circle"><span
														class="status offline"></span></a>
											</div>
											<div class="contact-info">
												<span class="contact-name text-ellipsis">Richard Miles</span>
												<span class="contact-date">MD</span>
											</div>
										</div>
									</li>
									<li>
										<div class="contact-cont">
											<div class="float-left user-img m-r-10">
												<a href="profile.html" title="John Doe"><img
														src="/internallcss/assets/img/user.jpg" alt=""
														class="w-40 rounded-circle"><span
														class="status away"></span></a>
											</div>
											<div class="contact-info">
												<span class="contact-name text-ellipsis">John Doe</span>
												<span class="contact-date">BMBS</span>
											</div>
										</div>
									</li>
									<li>
										<div class="contact-cont">
											<div class="float-left user-img m-r-10">
												<a href="profile.html" title="Richard Miles"><img
														src="/internallcss/assets/img/user.jpg" alt=""
														class="w-40 rounded-circle"><span
														class="status online"></span></a>
											</div>
											<div class="contact-info">
												<span class="contact-name text-ellipsis">Richard Miles</span>
												<span class="contact-date">MS, MD</span>
											</div>
										</div>
									</li>
									<li>
										<div class="contact-cont">
											<div class="float-left user-img m-r-10">
												<a href="profile.html" title="John Doe"><img
														src="/internallcss/assets/img/user.jpg" alt=""
														class="w-40 rounded-circle"><span
														class="status offline"></span></a>
											</div>
											<div class="contact-info">
												<span class="contact-name text-ellipsis">John Doe</span>
												<span class="contact-date">MBBS</span>
											</div>
										</div>
									</li>
									<li>
										<div class="contact-cont">
											<div class="float-left user-img m-r-10">
												<a href="profile.html" title="Richard Miles"><img
														src="/internallcss/assets/img/user.jpg" alt=""
														class="w-40 rounded-circle"><span
														class="status away"></span></a>
											</div>
											<div class="contact-info">
												<span class="contact-name text-ellipsis">Richard Miles</span>
												<span class="contact-date">MBBS, MD</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="card-footer text-center bg-white">
								<a href="doctors.html" class="text-muted">View all Doctors</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-12 col-md-6 col-lg-8 col-xl-8">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title d-inline-block">New Patients </h4> <a href="patients.html"
									class="btn btn-primary float-right">View all</a>
							</div>
							<div class="card-block">
								<div class="table-responsive">
									<table class="table mb-0 new-patient-table">
										<tbody>
											<tr>
												<td>
													<img width="28" height="28" class="rounded-circle"
														src="/internallcss/assets/img/user.jpg" alt="">
													<h2>John Doe</h2>
												</td>
												<td>Johndoe21@gmail.com</td>
												<td>+1-202-555-0125</td>
												<td><button
														class="btn btn-primary btn-primary-one float-right">Fever</button>
												</td>
											</tr>
											<tr>
												<td>
													<img width="28" height="28" class="rounded-circle"
														src="/internallcss/assets/img/user.jpg" alt="">
													<h2>Richard</h2>
												</td>
												<td>Richard123@yahoo.com</td>
												<td>202-555-0127</td>
												<td><button
														class="btn btn-primary btn-primary-two float-right">Cancer</button>
												</td>
											</tr>
											<tr>
												<td>
													<img width="28" height="28" class="rounded-circle"
														src="/internallcss/assets/img/user.jpg" alt="">
													<h2>Villiam</h2>
												</td>
												<td>Richard123@yahoo.com</td>
												<td>+1-202-555-0106</td>
												<td><button
														class="btn btn-primary btn-primary-three float-right">Eye</button>
												</td>
											</tr>
											<tr>
												<td>
													<img width="28" height="28" class="rounded-circle"
														src="/internallcss/assets/img/user.jpg" alt="">
													<h2>Martin</h2>
												</td>
												<td>Richard123@yahoo.com</td>
												<td>776-2323 89562015</td>
												<td><button
														class="btn btn-primary btn-primary-four float-right">Fever</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="sidebar-overlay" data-reff=""></div>
	{{>headjs}}

</body>



</html>