<!DOCTYPE html>
<html lang="en">


<!-- Edit-patient24:06-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/internallcss/assets/img/favicon.ico">
    <title>Edit Patient</title>
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/style.css">
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <div class="main-wrapper">
        {{>header}}

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Patient</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        {{#each patient}}
                        <form action="/api/v1/patients/update/{{this.patient_id}}" method="post">
                            {{>update_patient}}
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Update Patient</button>
                            </div>
                        </form>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/internallcss/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/internallcss/assets/js/popper.min.js"></script>
    <script src="/internallcss/assets/js/bootstrap.min.js"></script>
    <script src="/internallcss/assets/js/jquery.slimscroll.js"></script>
    <script src="/internallcss/assets/js/select2.min.js"></script>
    <script src="/internallcss/assets/js/moment.min.js"></script>
    <script src="/internallcss/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/internallcss/assets/js/app.js"></script>

</body>

</html>