<!DOCTYPE html>
<html lang="en">


<!-- edit-appointment24:07-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/internall/css/assets/img/favicon.ico">
    <title>Edit Appointment</title>
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/internallcss/assets/css/style.css">

</head>

<body>
    <div class="main-wrapper">

        {{>header}}

        <div class="page-wrapper">
            <div class="content">
                {{#if message}}
                <div class="alert alert-{{replace}} alert-dismissible fade show" role="alert">
                    <strong>{{status}} !</strong>
                    {{message}}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Appointment</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        {{#each app}}
                        <form action="/api/v1/appointments/update/{{this.Appointment_id}}" method="post" >
                            {{>appointment_crud}}
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Update Appointment</button>
                            </div>
                        </form>
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script src="/internallcss/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/internallcss/assets/js/popper.min.js"></script>
    <script src="/internallcss/assets/js/bootstrap.min.js"></script>
    <script src="/internallcss/assets/js/jquery.slimscroll.js"></script>
    <script src="/internallcss/assets/js/select2.min.js"></script>
    <script src="/internallcss/assets/js/moment.min.js"></script>
    <script src="/internallcss/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/internallcss/assets/js/app.js"></script>
</body>


<!-- edit-appointment24:07-->

</html>