<!DOCTYPE html>
<html lang="en">



<head>
    <title>Patient DashBoard</title>
    {{>headcss}}
</head>

<body>
    <div class="main-wrapper">
        {{>header_patient}}
        <div class="page-wrapper">
            <div class="content">

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title d-inline-block">Upcoming Appointments</h4> <a
                                    href="appointments.html" class="btn btn-primary float-right">View all</a>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="d-none">
                                            <tr>
                                                <th>Patient Name</th>
                                                <th>Timing</th>
                                                <th class="text-right">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="min-width: 200px;">
                                                    <a class="avatar" href="profile.html">B</a>
                                                    <h2><a href="profile.html">Bernardo Galaviz <span>New York,
                                                                USA</span></a></h2>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Appointment With</h5>
                                                    <p>Dr. Cristina Groves</p>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Timing</h5>
                                                    <p>7.00 PM</p>
                                                </td>
                                                <td class="text-right">
                                                    <a href="appointments.html"
                                                        class="btn btn-outline-primary take-btn">Take up</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="min-width: 200px;">
                                                    <a class="avatar" href="profile.html">B</a>
                                                    <h2><a href="profile.html">Bernardo Galaviz <span>New York,
                                                                USA</span></a></h2>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Appointment With</h5>
                                                    <p>Dr. Cristina Groves</p>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Timing</h5>
                                                    <p>7.00 PM</p>
                                                </td>
                                                <td class="text-right">
                                                    <a href="appointments.html"
                                                        class="btn btn-outline-primary take-btn">Take up</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="min-width: 200px;">
                                                    <a class="avatar" href="profile.html">B</a>
                                                    <h2><a href="profile.html">Bernardo Galaviz <span>New York,
                                                                USA</span></a></h2>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Appointment With</h5>
                                                    <p>Dr. Cristina Groves</p>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Timing</h5>
                                                    <p>7.00 PM</p>
                                                </td>
                                                <td class="text-right">
                                                    <a href="appointments.html"
                                                        class="btn btn-outline-primary take-btn">Take up</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="min-width: 200px;">
                                                    <a class="avatar" href="profile.html">B</a>
                                                    <h2><a href="profile.html">Bernardo Galaviz <span>New York,
                                                                USA</span></a></h2>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Appointment With</h5>
                                                    <p>Dr. Cristina Groves</p>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Timing</h5>
                                                    <p>7.00 PM</p>
                                                </td>
                                                <td class="text-right">
                                                    <a href="appointments.html"
                                                        class="btn btn-outline-primary take-btn">Take up</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    {{>headjs}}

</body>



</html>