<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            <label>Prescription ID <span class="text-danger">*</span></label>
            <input class="form-control" type="text" value="{{this.presc_id}}" name="presc_id" disabled>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Prescription Date</label>
            <input type="date" class="form-control" value="{{this.prescriptionDate}}" name="date" required>
        </div>
    </div>

</div>

<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="3" cols="30" name="description">{{this.description}}</textarea>
</div>